/* --------------- STANDARD THEME -----------*/

body {
	padding-top: 80px;
	padding-bottom: 20px;
}

.navbar a > i {
	opacity: 0.5;
}

.navbar a:hover > i {
	opacity: 1;
}

section {
	margin-top: 100px;
}

.subhead {
	padding-bottom: 0;
	margin-bottom: 9px;
}

.subhead h1 {
	font-size: 54px;
}

.subnav {
	margin-bottom: 60px;
	width: 100%;
	height: 36px;
	background-color: #eeeeee; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.subnav .nav {
	margin-bottom: 0;
}

.subnav .nav > li > a {
	margin: 0;
	padding-top:    11px;
	padding-bottom: 11px;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #e5e5e5;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
	padding-left: 13px;
	color: #777;
	background-color: #e9e9e9;
	border-right-color: #ddd;
	border-left: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}

.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
	border-top-color: #777;
}

.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
	border-left: 0;
	padding-left: 12px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.subnav .nav > li:last-child > a {
	border-right: 0;
}

.subnav .dropdown-menu {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.tooltip-inner {
	max-width: 500px;
}

.hero-unit {
	margin-bottom: 10px;
	text-align: center;
}

.hero-unit h1,
.hero-unit p {
	margin-bottom: 15px;
}

#social {
	display: inline-block;
	margin-top: 45px;
	text-align: center;
}

#gh-star {
	margin-right: 10px;
}

.twitter-follow-button {
	width: 60px !important;
}

.twitter-share-button  {
	margin-right: 15px;
}

.rss-button {
	width: 40px;
	height: 14px;
	font-size: 11px;
	line-height: 14px;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 2px 5px 2px 4px;
}

.icon-rss {
	background: url(../img/rss-icons.png) no-repeat 0 0;
	opacity: .65;
	width: 16px;
}

#ticker {
	margin-bottom: 40px;
}

.about {
	margin-top: 20px;
}

.about > div {
	margin-bottom: 20px;
}

.about h3 {
	margin: 0 0 5px 35px;
}

.about img {
	float: left;
	margin-top: 5px;
	opacity: 0.7;
}

#gallery {
	margin: 45px 0 30px 0;
	padding-right: 20px;
	text-align: center;
}

.thumbnail {
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.05);
}

.thumbnail img {
	width: 100%;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.thumbnail .caption {
	color: inherit !important;
}

.thumbnail h3 {
	margin-bottom: 0;
}

.thumbnail .btn-toolbar {
	margin-top: 15px;
	text-align: right;
}

.links {
	margin-bottom: 20px;
}

.links > a {
	margin-right: 10px;
} 

div.one .bsa_it_ad {
	padding: 25px 25px 15px 25px;
}

div.one .bsa_it_p {
	display: none;
}

.bsa {
	float: right;
	max-width: 400px;
	padding: 0;
}

body .one .bsa_it_ad {
	margin-bottom: -10px;
	background: none;
	border: none;
	font-family: inherit;
	color: inherit;
}

body .one .bsa_it_ad .bsa_it_t,
body .one .bsa_it_ad .bsa_it_d {
	color: inherit;
	font-size: inherit;
}

body .one .bsa_it_p {
	display: none;
}

.links {
	margin-bottom: 20px;
}

.links > a {
	margin-right: 10px;
}

/* --------------- FORMS -----------*/

#search-form{
  margin-top: 60px;
}

#search-box{
  width: 410px;
}

.search-btn{
  line-height: 13px !important;
  padding-top: 3px !important; 
  height: 30px;
}

/* -------------- TWEAKS -------------- */
.center{
  margin: auto;
  float: none;
}

/* -------------- My styles -------------- */
ul.nav-list li.active{
	font-weight: bold;
}

ul.nav-list li{
	line-height: 30px;
}

